[Desktop Entry]
Type=Application
Version=1.0
Name=SleepyShows
GenericName=Video Player
Comment=Video player with sleep timer and TV-style bumps
Exec=SleepyShows
Icon=sleepyshows
Terminal=false
Categories=AudioVideo;Video;Player;
StartupWMClass=SleepyShows
Keywords=video;player;sleep;timer;bumps;
